<header class="container-fluid my-5">
<div id="sfondoTitolo" class="my-5">
<h1 class="h1 text-center my-3" id="titolo">Angular Crm</h1>
<h2 class="text-center" >Aiutiamo le aziende nel loro lavoro</h2>
</div>
</header>
<main class="container">
  <h2 class="text-center my-4">Per iniziare vai alla pagina <span ><a routerLink="/login">login</a> </span></h2>
  <article>
    <div class="scheda ">
      <div class="text-center testo my-3">
        <h2>Semplice nell'utilizzo</h2>
        <h2>Complesso nel potenziale</h2>
      </div>
     <div class="schedaContent">
        <div>
          <img src="../../../assets/img/Immagine2.png" >
        </div>
        <div>
          <img src="../../../assets/img/Immagine1.png" alt="">
        </div>
     </div>
    </div>
    <div class="scheda ">
      <div class="text-center testo my-3">
        <h2>Griglia o Tabella ?</h2>
      </div>
     <div class="schedaContent">
        <div>
          <img src="../../../assets/img/Immagine4.png" >
        </div>
        <div>
          <img src="../../../assets/img/Immagine3.png" alt="">
        </div>
     </div>
    </div>
    <div class="scheda ">
      <div class="text-center testo my-3">
        <h2>Facilitiamo le tue ricerche</h2>
      </div>
     <div class="schedaContent ricerca">
        <div>
          <img src="../../../assets/img/Immagine5.png" >
        </div>
        <div>
          <img src="../../../assets/img/Immagine6.png" alt="">
        </div>
        <div>
          <img src="../../../assets/img/Immagine7.png" >
        </div>
     </div>
    </div>
    <div class="scheda ">
      <div class="text-center testo my-3">
        <h2>Grazie ai messaggi di sistema saprai sempre cosa stai per fare, e cosa è andato storto</h2>
      </div>
     <div class="schedaContent ricerca">
        <div>
          <img src="../../../assets/img/Immagine8.png" >
        </div>
        <div>
          <img src="../../../assets/img/Immagine9.png" alt="">
        </div>
        <div>
          <img src="../../../assets/img/Immagine10.png" >
        </div>
     </div>
    </div>
    <div class="scheda ">
      <div class="text-center testo my-3">
        <h2>Powered by Angular</h2>
      </div>
     <div class="schedaContent ricerca">
        <div>
          <img src="../../../assets/img/1616332921.png "  >
        </div>

     </div>
    </div>
  </article>
</main>
