<h1 class="text-center my-5">Utenti</h1>

<mat-paginator *ngIf="utentiObj" class="m-4" [length]="utentiObj.totalElements"
              [pageSize]="20"
              [pageSizeOptions]="[5, 10, 20, 100]"
              aria-label="Select page"

               (page)="pageEvent($event)"
              >
</mat-paginator>
<mat-spinner *ngIf="caricamento"></mat-spinner>
<div class="contenitore" *ngIf="!caricamento">
  <mat-card *ngFor="let user of utenti" >
    <mat-card-header>
      <mat-card-title [ngClass]="{red: user.id == utenteLog.id}" >{{user.username}} <span *ngIf="user.id == utenteLog.id">(io)</span> </mat-card-title>
      <span>Id: <span [style.color]="'#c2185b'">{{user.id}}</span></span>
    </mat-card-header>
    <mat-card-content>
      <p class="mt-2"><mat-icon> email</mat-icon> Email: {{user.email}}</p>
      <p class="mt-2"><mat-icon>face</mat-icon> Nome: {{user.nome}} </p>
      <p class="mt-2"> <mat-icon>face</mat-icon> Cognome: {{user.cognome}} </p>
      <p class="mt-2"><mat-icon>person</mat-icon> Role: {{user.roles[0].roleName}} </p>
    </mat-card-content>
  </mat-card>
</div>

